<div class="loginroot">
    <h1 id="title">Warehouse Coordinator</h1>
    <h2>Register a new account</h2>

    <h3> {{ email }} </h3>
    <h3> {{ password }} </h3>

    <label for="emailInput">Email:</label>
    <div class="input" id="emailInput">
        <input type="email" [(ngModel)]="email" />
    </div>
    <label for="passwordInput">Password:</label>
    <div class="input">
        <input type="password" [(ngModel)]="password" />
    </div>
    <label for="passwordInput2">Password again:</label>
    <div class="input">
        <input type="password" [(ngModel)]="password2" />
    </div>
    <button (click)="register()">Register</button>
    <a routerLink="/login">Log in with an existing account</a>
    <div *ngIf="registerError" style="color: red;">{{ errorMessage }}</div>
</div>