<h2>Your cart</h2>

<div *ngIf="cart.length > 0">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
                Quantity
            </th>
        </tr>
        <tr>
            <tr *ngFor="let i of cart"> 
                <td>
                    {{ i['name'] }}
                </td>
                <td>
                    {{ i['cost'] }}
                </td>
                <td>
                    {{ i['quantity'] }}
                </td>
                <td>
                    <button (click)="removeFromCart(i)">Remove from cart</button>
                </td>
        </tr>
    </table>
    
    <button (click)="checkout()">
        Checkout
    </button>
</div>
<div *ngIf="cart.length == 0">
    Your cart is empty!
</div>
