<h2>Your cart ({{ items.length }})</h2>

<div *ngIf="items.length > 0">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
                Quantity
            </th>
        </tr>
        <tr>
            <tr *ngFor="let i of items"> 
                <td>
                    {{ i['name'] }}
                </td>
                <td>
                    {{ i['cost'] }}
                </td>
                <td>
                    {{ i['quantity'] }}
                </td>
                <td>
                    <button (click)="removeFromCart(i)">Remove from cart</button>
                </td>
        </tr>
    </table>
    <div>
        Your total is: {{ getTotalCost() }}
    </div>
    <button (click)="buy()">
        Buy
    </button>
</div>

